<div class="col col-md-12 mb-2 mx-auto">
  <h4 class="mx-auto">Login</h4>
</div>

<div class="col col-md-12 mb-2">
  <div class="input-group">
    <span class="input-group-text">@</span>
    <input
      type="email"
      placeholder="email"
      class="form-control"
      name="lemail"
      id="lemail"
      required
    />
  </div>
</div>

<div class="col col-md-12 mb-2">
  <div class="input-group">
    <span class="input-group-text password-container"
      ><img src="assets/images/password.png" alt=""
    /></span>
    <input
      type="password"
      placeholder="password"
      class="form-control"
      name="lpassword"
      id="lpassword"
      required
    />
  </div>
</div>
<div class="col col-12 mb-2 d-flex justify-content-center align-items-center">
  <input type="submit" class="btn btn-block btn-primary w-100" value="Log In" />
</div>
